/* #firstBoard, #secondBoard {
    margin: 50px;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#boards {
  display: flex;
  justify-content: space-around;
  width: 1300px;
}

canvas {
  border: 1px solid #000;
}

button {
  margin: 20px;
  padding: 10px 10px;
  font-size: 30px;
  cursor: pointer;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 30px;
}